certifi==2018.8.24
chardet==3.0.4
Click==7.0
Django==2.1.11
ecdsa==0.13
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pyasn1==0.4.4
PyJWT==1.6.4
pytz==2018.5
requests==2.19.1
rsa==4.0
six==1.11.0
SQLAlchemy==1.2.12
urllib3==1.23
Werkzeug==0.14.1
